<div class="row-fluid">
  <div class="span3">
    <div class="well">
      <h3>Water consumption</h3>
      <p><strong>Total per year (m3):</strong> <span id='total-water' data-value='4000000000'>4.0 billion m3</span></p>
      <p><strong>Total from groundwater reserves per year:</strong> <span id="total-from-groundwater" /></p>
      <h4>Source</h4>
      <p>
        <label>From groundwater reserves: <span id="source-percentage" style="border:0; color:#f6931f; font-weight:bold;" /></label>
      </p>
      <div id='source-slider'></div>
    </div>
  </div>
  <div class="span9">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= msg %>
      <% end %>
    <% end %>
    <div id="graph"></div>
  </div>
</div>
